@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
/* font-family: Relative, sans-serif; */

@font-face {
    font-family: 'Relative';
    src: url('../font/Relative-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Relative';
    src: url('../font/Relative-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Relative';
    src: url('../font/Relative-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

#home {
    background: url("../img/home_1st_background.jpg") no-repeat center;
    background-size: cover;
    /* padding: 350px 0px 350px 0px; */
    height: 100vh;
}

#aboutUs {
    background: url("../img/home_2nd_bg.jpg") no-repeat center;
    background-size: cover;
    padding: 50px 0px 50px 0px;
    height: 110vh;
    padding-top: 25vh;
}



/* #mdm {
    background: url("../img/mdm_home.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
} */

#contact_home {
    background: url("../img/contact.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact_home h2 {
    font-family: Relative, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    color: white;
}

.bg-image {
    width: 100%;
}

.div-centered-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-intro-text {
    color: white;
    font-family: Relative, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%;
    transform: translateY(150px);
    transition: all 2s ease;
    opacity: 0;
}

.animate.current {
    transform: translateY(0px);
    opacity: 1;
}

.animate {
    transform: translateY(150px);
    transition: all 2s ease;
    opacity: 0;
}

.home-intro-text h2 {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
}

.aboutUs-text {
    background-color: rgba(87, 48, 48, 0.404);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    color: aliceblue;
    padding-bottom: 1%;
    font-family: Relative, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 48px; */
    width: 70%;
    /* padding: 63px 0px 0px 99px; */
    margin-left: 15%;
    margin-top: 15vh;
    margin-right: 15%;
    text-align:justify;
}

.read-more {
    margin-top: 5%;
    color: rgb(255, 255, 255);
}

.read-more a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.read-more a:hover {
    color: rgb(135, 66, 66);
}

.aboutUs-text h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
}

/* .sub-home-text {
    color: rgb(255, 255, 255);
    font-family: Relative, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
    width: 75%;
    padding: 73px 0px 0px 99px;
    margin-bottom: 30px;
}

.sub-home-text h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 61px;
}

.subdivisions ul {
    list-style-type: none;
} */

@media screen and (max-width: 767px) {
    #home {
        background: url("../img/home_1st_background.jpg") no-repeat center;
        background-size: cover;
        /* padding: 350px 0px 350px 0px; */
        height: 75vh;
        padding: 150px 0px 150px 0px;
    }
    .home-intro-text {
        font-weight: 400;
        font-size: 25px;
        line-height: 28px;
        width: 85%;
    }
    .home-intro-text h2 {
        font-weight: 600;
        font-size: 35px;
        line-height: 31px;
    }
    #aboutUs {
        background: url("../img/home_2nd_bg.jpg") no-repeat center;
        background-size: cover;
        padding: 30px 0px 50px 0px;
        height: 75vh;
        padding-top: 2vh;
        padding-left: 2vh;
        padding-right: 5vh;
    }
    .aboutUs-text {
        width: 90% !important;
        color: #ffffff;
        font-weight: 400;
        /* width: 90%; */
        font-size: 15px;
        line-height: 18px;
        margin-left: 7%;
        margin-top: 7vh;
        margin-right: 6%;
        /* padding: 43px 0px 0px 49px; */
    }
    .aboutUs-text h2 {
        font-weight: 600;
        font-size: 25px;
        line-height: 21px;
    }
   
}


